#bio-image {
    width: 225px;
    height: 300px;
    margin: 20px;
    float: left;
}
  
#main-bio {
    float: left;
    width: 70%;
    margin: 0 auto;
    padding-left: 225px;
}

#bio-box{
    background-color: #ffffff;
    height: 35%;
    float: left;
}

/*
.container {
    width: 100%;
    margin: 0 auto;
    height: 960px;
}*/

#left, #middle, #right {
    float: right;
}

#headings-font {
    font-family: 'Georgia', Times, "Times New Roman", serif;
}

#other-font {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

#backGround{
    width: 80%;
    height: 960px;
    margin: 30px;
    background-color: bisque;
}

#name{
    background-color: #4aaaa5;
    color: #ffffff;
    width: 15%;
    height: 9%;
    text-align: center;
}

#other-pages {
    text-align: right;
}

footer{
    text-align: center;
}

#about-me{
    text-align: center;
    width: 15%;
    color: #4aaaa5;
    float: clear;
}

/*
#about-me-box{
    width: 25%;
    height: 50%;
    background-color: #4aaaa5;
}*/

/*
footer {
    float: clear;
    background: #333;
  }
*/